body {
  font-family: Arial;
  font-size: 17px;
  padding-left: 70px;
  padding-right: 70px;
  background-color: pink;
}
p {
  text-align: justify;
}

.containerBanner .content {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.4); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 60%;
  padding: 20px;
}

.containerBanner {
  position: relative;
}
.containerBanner img {
  vertical-align: middle;
}
.content span {
  color: #c56904;
}

.menuTop {
  position: absolute;
  top: 8px;
  left: 16px;
  list-style-type: none;
}
//we remove the bullets from the list, and its default padding and margin
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
li {
  display: inline;
  float: left;
  border-right: 1px solid #bbb;
}
li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #636;
}
li a:hover:not(.active) {
  color: #04aa6d;
}
li:last-child {
  border-right: none;
}
.active {
  color: #04aa6d;
}

//dropdown menu
li a,
.dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
  background-color: #bbcbf9;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
//content body
.body,
.bodyCol1 {
  padding-left: 70px;
  position: relative;
  padding-right: 70px;
}
.header {
  padding-left: 70px;
  padding-right: 70px;
}
.bodyCol2 {
  float: left;
  position: absolute;
}
